{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}
Style form
{% endblock %}

{% block content %}
  <h1>Upload Images!</h1>
      {% if messages %}
        {% for message in messages %}
          <p{% if message.tags %} class="form-message"{% endif %}>{{ message }}</p>
        {% endfor %}
      {% endif %}  
<div class="form-container">
    <form method="post" action="{% url 'planta:add' %}" enctype="multipart/form-data">    
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}